header{
    margin: 0;
    border: 0;
}
#titulo_principal .tiulo_principal .titulo{
    text-align: center;
    background-color: gray;
}
/*-------------------------------------------------*/
.imagen{
    width: 722px;
    height: 480px;
    margin: auto;
    background-image: url("../../imatges/panteon-1.jpg")
}
.box1{
    float: left;
    width: 60px;
    height: 175px;
    margin-top: 200px;
    margin-left: 185px;
    overflow: scroll;
}
.box2{
    float: left;
    width: 60px;
    margin-top: 200px;
    height: 175px;
    margin-left: 85px;
    overflow: scroll;
}
.box3{
    float: left;
    width: 60px;
    height: 175px;
    margin-left: 80px;
    margin-top: 200px;
    overflow: scroll;
}